
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    gap: 25px;
    max-width: 600px;
}
.textarea {

}
.submitTextArea {
    max-width: 100px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.post {
    margin: 10px 20px;
}
.post p {
    margin: 10px 0;
    color: black;
}

/* 5 */
.postsBlock {
    margin: 10px 20px;

}